<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/p_week.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../static/js/p.js"></script>
</head>
<body>
    <div class="book">
        <div class="book_left">
            <div class="menu">
                <img src="../static/images/2H&M.gif" alt="">
            </div>
            <div>
                <li class="menu-item">
                    <a href="http://127.0.0.1:5000/dashboard" class="menu-link menu-toggle"
                        onclick="toggleDropdown('trangChuDropdown','doanhSoDropdown', 'accountSettingsDropdown')">
                        <div class="Account Settings" style="color: #4300fa;">Dashboard</div>
                    </a>
                    <ul class="menu-sub" id="trangChuDropdown">
                    </ul>
                </li>
            </div>
            <div class="menu">
                <li class="menu-item">
                    <a href="#" class="menu-link menu-toggle"
                        onclick="toggleDropdown('doanhSoDropdown', 'accountSettingsDropdown','trangChuDropdown')">
                        <div class="Account Settings">Income</div>
                    </a>
                    <ul class="menu-sub" id="doanhSoDropdown">
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link">
                                <div class="Account"><a href="http://127.0.0.1:5000/management_week">Week</a></div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link">
                                <div class="Account"><a href="http://127.0.0.1:5000/management_month">Month</a></div>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        
            <div class="menu">
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle"
                        onclick="toggleDropdown('accountSettingsDropdown', 'doanhSoDropdown','trangChuDropdown')">
                        <div class="Account Settings">Product</div>
                    </a>
                    <ul class="menu-sub" id="accountSettingsDropdown">
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link">
                                <div class="Account"><a href="http://127.0.0.1:5000/management_add">Add</a></div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link">
                                <div class="Account"><a href="http://127.0.0.1:5000/management_list">List</a></div>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        
        </div>
        <!-- book_left -->
        <div class="book_right">
            <div class="book_right-main">
                <div class="transactions">
                    <span>Transactions</span>
                    <i class="fa-solid fa-dollar-sign"></i>
                </div>
                <div class="Surplus">
                    <div class="Surplus_main">
                        <div class="Surplus_img">
                            <img src="../static/images/hoa3.jpg" alt="">
                        </div>
                        <div class="Surplus_comment">
                            <span style="opacity: 0.6;">Paypal</span>
                            <br>
                            <span style="color: brown;">Surplus : :</span>
                        </div>
                    </div>
                    <div class="Surplus_money">
                        <a href="">+82.6 <i class="fa-solid fa-dollar-sign"></i></a>
                    </div>
                </div>
            </div>
            <div class="book_right-main">
                <div class="transactions">
                    <span>Storehouse</span>
                    <i class="fa-solid fa-money-bill-trend-up"></i>
                </div>
                <div class="Surplus">
                    <div class="Surplus_main">
                        <div class="Surplus_img">
                            <img src="../static/images/hoa4.jpg" alt="">
                        </div>
                        <div class="Surplus_comment">
                            <span style="opacity: 0.6;">Paypal</span>
                            <br>
                            <span style="color: brown;">Surplus : :</span>
                        </div>
                    </div>
                    <div class="Surplus_money">
                        <a href="">+280.1 <i class="fa-solid fa-dollar-sign"></i></a>
                    </div>
                </div>
            </div>
        </div>
            <!--  -->

        
    </div>
</body>
</html>